@font-face {
    font-family: 'PP Fragment Text';
    src: url('resources/fonts/PPFragment-TextRegular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'PP Fragment Glare';
    src: url('resources/fonts/PPFragment-GlareRegular.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'PP Mori Medium';
    src: url('resources/fonts/PPMori-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'PP Mori Bold';
    src: url('resources/fonts/PPMori-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'PP Gstaad-Bold';
    src: url('resources/fonts/ppNeueGstaad/PPNeueGstaad-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'PP Gstaad-Regular';
    src: url('resources/fonts/ppNeueGstaad/PPNeueGstaad-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'PP Gstaad-ExpandedBold';
    src: url('resources/fonts/ppNeueGstaad/PPNeueGstaad-ExpandedBold.otf') format('opentype');
}
@font-face {
    font-family: 'PP Gstaad-ExpandedRegular';
    src: url('resources/fonts/ppNeueGstaad/PPNeueGstaad-ExpandedRegular.otf') format('opentype');
}
@font-face {
    font-family: 'PP Gstaad-ExpandedRegular-italic';
    src: url('resources/fonts/ppNeueGstaad/PPNeueGstaad-ExpandedRegularItalic.otf') format('opentype');
}



:root {
    --bg-main: #ebebe6ff; /* (alabaster-grey)*/
    --bg-surface: #f5f8deff; /*porcelain)*/
    --bg-skill-box: #1e1e24ff;
   /* --bg-glass: rgba(20, 20, 20, 0.55); */
    --text-main: #1e1e24ff; /*shadow grey*/
    --text-muted: #787878;
    --text-negative: #ebebe6ff;
    --gris_transparente: rgba(255, 255, 255, 0.12);
    --status-green: #34D399;

    --font-lora: 'Lora', Georgia, serif;
    --font-literata: 'Literata', Georgia, serif;
    --font-mono: 'Fragment Mono', monospace;
    --font-glare: 'Bodoni Moda', 'Playfair Display', serif;
    --font-PPFrText: 'PP Fragment Text', monospace;
    --font-ppFrGlare: 'PP Fragment Glare', serif;
    --font-ppMoriM: 'PP Mori Medium', sans-serif;
    --font-ppMoriB: 'PP Mori Bold', sans-serif;
    /*landing*/
    --font-ppGstaadBold: 'PP Gstaad-Bold', sans-serif;
    --font-ppGstaadRegular: 'PP Gstaad-Regular', sans-serif;
    --font-ppGstaadExBold: 'PP Gstaad-ExpandedBold';
    --font-ppGstaadExReg: 'PP Gstaad-Expanded', sans-serif;
    --font-ppGstaadExRegItalic: 'PP Gstaad-ExpandedRegular-italic', sans-serif, italic;
}

.font-lora                { font-family: var(--font-lora);            }
.font-literata            { font-family: var(--font-literata);        }
.font-mono                { font-family: var(--font-mono);            }
.font-glare               { font-family: var(--font-glare);           }
.font-PPFrText            { font-family: var(--font-PPFrText);        }
.font-ppFrGlare           { font-family: var(--font-ppFrGlare);       }
.font-ppMoriM             { font-family: var(--font-ppMoriM);         }
.font-ppMoriB             { font-family: var(--font-ppMoriB);         }
/*landing*/
.font-ppGstaadB           { font-family: var(--font-ppGstaadBold);    }
.font-ppGstaadR           { font-family: var(--font-ppGstaadRegular); }
.font-ppGstaadEB          { font-family: var(--font-ppGstaadExBold);  }
.font-ppGstaadER          { font-family: var(--font-ppGstaadExReg);   }
.font-ppGstaadERI         { font-family: var(--font-ppGstaadExRegItalic); }

* {box-sizing: border-box;margin: 0;padding: 0;}


body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: var(--font-satoshi);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}
/* Transición suave para que el cambio no queme los ojos */
body * {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* 2. TEMA OSCURO (Solo se activa si el JS le pone la clase al body) */
body.dark-theme {
    --bg-main: #1e1e24ff;       /* Invierte fondo */
    --text-main: #ebebe6ff;     /* Invierte texto */
    --bg-skill-box: #ebebe6ff;  /* Invierte cajas */
    --text-negative: #1e1e24ff; /* Invierte texto de cajas */
    --gris_transparente: rgba(255, 255, 255, 0.2);
}

.viewport_1920_container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    font-family: var(--font-ppGstaadRegular)
}
.main_header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--gris_transparente);
    font-size: 36px;
    padding: 0 12px;
}
.name_nav{
    color: var(--text-main);
    justify-self: start;
    text-decoration: none;
    font-weight: 400;
    font-size: clamp(2rem, 3vw, 4rem);
}
.header_nav {
    justify-self: center; display: flex; gap: 32px;
    color: var(--text-main);
    text-decoration: none;
    font-weight: normal;
}
.nav_link{
    color: var(--text-muted);
    text-decoration: none;
    font-weight: normal;
    padding: 0 4px;
}
.nav_link:hover, .nav_link.active {
    color: var(--text-main);
    text-decoration: none;
    font-family: var(--font-ppGstaadBold);
}
.nav_link_active{
    color: var(--text-main);
    font-family: var(--font-ppGstaadBold);
    text-decoration: none;
    font-weight: bold;
}
.commands_nav {
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.language_box {
    justify-self: end; display: flex;
    display: flex; flex-direction: row;
}
.theme_btn {
    /*margin-top: 120px;*/
    padding: 10px 18px;
    background: transparent;
    border: 1px solid var(--text-main);
    color: var(--text-main);
    font-family: var(--font-mono);
    font-size: clamp(10px, 1.2vw, 14px);
    border-radius: 99px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    white-space: nowrap;
}
.theme_btn:hover {
    background: var(--text-main);
    color: var(--bg-main);
}

.open_to_work {
    padding-left: 8px;
    display: flex; flex-direction: row;
    font-family: var(--font-mono);
    font-size: clamp(12px, 4vw, 20px);
    }
.status-indicator {
    align-self: center;
    position: relative;
    width: 22px;
    height: 22px;
    background-color: var(--status-green); /* Siempre verde */
    border-radius: 50%;
    display: inline-block;
    /*box-shadow: 0 0 6px rgba(52, 211, 153, 0.4); !* Le da un pequeño brillo "led" *!*/
}
.open_to_line {
 padding-left: 4px;
}
.tile_card {
    padding-top: 4%;
    align-items: start;
    align-self: start;
    justify-self: center; /*horizontal*/
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.titlendescription {
    display: flex; flex-direction: column;
    justify-content: flex-start;
    /*height: 80vh;*/
}

.main_title {
    color: var(--text-main);
    font-family: var(--font-ppGstaadExBold);
    font-size: clamp(26px, 6vw, 96px);
    line-height: 1;
}
.main_description{
    padding: 2% 0 0 0;
    color: var(--text-muted);
    font-family: var(--font-ppMoriB);
    font-weight: 800;
    font-size: clamp(12px, 6vw, 36px);
}

.main_skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    padding-top: 60px;
    /*border-top: 10px solid var(--status-green);*/
}

.skill_box {
    color: var(--text-negative);
    background-color: var(--bg-skill-box);
    /*border: 1px solid var(--border-tech);*/
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 32px / 32px;
}
.skill_header {
    display: flex;
    justify-content: flex-start;
    /*margin-bottom: 24px;*/
    font-size: 11px;
    font-size: clamp(8px, 2vw, 16px);
    word-spacing: -0.4em;
}

.skill_num {
    letter-spacing: 0.05em;
    /*margin-top: 16px;*/
    font-family: var(--font-ppGstaadRegular);
    border-right: 2px solid var(--text-negative);
    padding-right: 4%;
}

.skill_title {
    text-align: left;
    font-family: var(--font-mono);
    margin-left: 4%;
    letter-spacing: 0.02em;
}

.works_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 4%;
    padding-right: 4%;
    font-family: var(--font-ppGstaadExBold);
    font-size: clamp(12px, 2vw, 40px);
}

.selected_works {
    justify-self: flex-start;
}
.all_projects {
    justify-self: flex-end;
}
.works_container {
    justify-self: center;
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column; /* Apila los elementos de arriba hacia abajo */
    border-radius: 24px; /* Bordes redondos en las 4 esquinas */
    overflow: hidden; /* Corta cualquier cosa que se salga de los bordes redondos */
    border: 10px solid var(--gris_transparente);
}

.works_desc_canvas {
    flex: 3;
    width: 100%;
    padding: 32px 40px;
    background-color: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.works_canvas {
    align-items: center;
    flex: 7;
    width: 100%;
    position: relative;
    background-color: #0A0A0A;
}
.works_canvas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}




/*.works_container {*/
/*    border: 8px solid var(--bg-skill-box);*/
/*    justify-content: center;!*horizontal*!*/
/*    align-items: start;*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*    margin-top: 4%;*/
/*    padding: 60px;*/
/*    border-radius: 64px / 64px;*/

/*}*/

/*%%%%%%%%%%%%%%%%%%LOCTOR%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*.proyect_container {*/
/*    background-color: var(--bg-surface);*/
/*    max-width: 1728px;*/
/*    margin: 0 auto;*/
/*    padding: 0px 0px 120px 0;*/

/*}*/
/*.proyect_navbar {*/
/*    border-bottom: 1px solid var(--gris_transparente);*/
/*    padding: 0 40px;*/
/*    margin-bottom: 12px;*/
/*}*/
/*.proyect_title {*/
/*    font-family: var(--font-ppFrText);*/
/*    font-weight: 400;*/
/*    font-size: 64px;*/

/*}*/
/*.proyect_category {*/
/*    font-family: var(--font-ppFrText);*/
/*    color: var(--text-muted);*/
/*    font-size: 24px;*/
/*}*/
/*.proyect_intro {*/
/*    font-family: var(--font-ppFrText);*/
/*    color: var(--text-main);*/
/*    font-size: 40px;*/
/*    padding:0 40px;*/
/*    letter-spacing: -0.04em;*/
/*    word-spacing: -0.04em;*/
/*}*/

/*.wordkmark_video {*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    width: 100%;*/
/*    max-height: 210px;*/
/*    aspect-ratio: 1728 / 420;*/
/*    padding-top: 24px ;*/
/*}*/
/*.t1 {*/
/*    padding: 0 40px;*/
/*    font-family: var(--font-ppFrGlare);*/
/*    font-size: 96px;*/
/*}*/
/*.window_split {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    gap: 12px;*/
/*    align-items: center;*/
/*}*/
/*.split_texto {*/
/*    padding: 0 2%;*/
/*    font-family: var(--font-ppFrGlare);*/
/*    font-size: 36px;*/
/*    text-align: left;*/
/*    tex*/
/*    !*hyphens: auto;*!*/
/*}*/
/*.split_visual {*/
/*    width: 100%;*/
/*    max-width: 100%; !* Nunca se hace más grande que la pantalla *!*/
/*    height: auto;*/
/*    display: block;*/
/*}*/
/*.split_texto2 {*/
/*    padding: 0 40px;*/
/*    font-family: var(--font-ppFrGlare);*/
/*    font-size: 36px;*/
/*    !*text-align: justify;*!*/
/*    !*hyphens: auto;*!*/
/*}*/
/*.img_2 {*/
/*    padding: 0 40px;*/
/*}*/
/*.t2 {*/
/*    font-family: var(--font-ppFrGlare);*/
/*    font-size: 96px;*/
/*    text-align: left;*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .window_split {*/
/*        grid-template-columns: 1fr; !* Pasa de 2 columnas a 1 sola *!*/
/*        gap: 32px;*/
/*        padding: 0 24px;*/
/*    }*/

/*    .split_texto, .split_texto2 {*/
/*        padding: 0;*/
/*        font-size: 24px; !* Bajamos el tamaño para móviles *!*/
/*    }*/

/*    .t1, .t2 {*/
/*        font-size: 48px; !* Títulos más chicos para celular *!*/
/*        padding: 0 24px;*/
/*    }*/
/*}*/
/*%%%%%%%%%%%%%%%%%%LOCTOR%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/